.container {
	display: flex;
	margin-top: 80px;
	width: 1200px;
	justify-content: space-between;
	margin-bottom: 80px;
}

.contents_wrap {
	height: 1018px;
	display: flex;
	flex-direction: column;	
	width: 880px;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 64px 0px;
	border-radius: 16px;
	padding: 60px 40px;
}

.bookmark_list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow-y: auto;
	margin-top: 40px;
	gap: 20px 15px;
	height: 800px;
}
.bookmark_wrap {
	margin-bottom: 40px;
	margin-top: 40px;
}

.bookmark_pick {
	width: 32%;
	cursor: pointer;
}
#channel_name {
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 10px;
}
#introduce {
	font-weight: bold;
	margin-bottom: 15px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}
.nonBookmark {
	margin-left: 40px;
	margin-top: 40px;
	padding: 200px;
	font-size: 30px;
	font-weight: bold;
	color: #e5e5e5;
}