.container {
	display: flex;
	margin-top: 80px;
	width: 1200px;
	justify-content: space-between;
	margin-bottom: 80px;
}

.contents_wrap {
	display: flex;
	flex-direction: column;	
	width: 880px;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 64px 0px;
	border-radius: 16px;
	padding: 60px 40px;
}

.bookmark_list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	overflow-y: auto;
	height: 100vh;
	margin-top: 40px;
}
.bookmark_wrap {
	margin-bottom: 40px;
	margin-top: 40px;
}

.bookmark_pick {
	width: 220px;
	cursor: pointer;
}
#channel_name {
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 10px;
}
#introduce {
	font-weight: bold;
	margin-bottom: 15px;
}