.all_container {
	width: 1200px;
	display: flex;
	flex-direction: column;
}

.campaign_first_header {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 10px;
	border: 1px solid white;
	margin: auto;
	padding: 30px;
	width: 1200px;
	height: 350px;
	border-radius: 10px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 64px 0px;
}

.campaignaddress {
	width: 1200px;
	height: 50px;
	border: 0px;
	margin: auto;
	padding: 28px 28px 028px;
	font-size: 15px;
}

.middletext {
	width: 1200px;
	height: 50px;
	border: 0px;
	margin: auto;
	font-size: 25px;
	line-height: center;
	padding: 10px;
}

.middle_text_img {
	width: 25px;
	height: 25px;
	border-radius: 1px;
}

.date_information {
	width: 1200px;
	height: 70px;
	margin: auto;
	border: 1px solid white;
	border-radius: 10px;
	background-color: white;
	line-height: 35px;
	padding: 0px 0px 0px 40px;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 64px 0px;
	font-size: 15px;
}

.basic_info {
	width: 1200px;
	margin: auto;
	padding-bottom: 40px;
	border: 1px solid white;
	border-radius: 10px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 64px 0px;
	margin-bottom: 40px;
}

.prodname {
	width: 1120px;
	height: 40px;
	margin: auto;
	background-color: #FAFAFA;
	border: 0px solid gray;
	border-radius: 10px;
	line-height: 40px;
	padding: 0px 0px 0px 20px;
	font-size: 15px;
}

.prodbut {
	font-size: 15px;
	width: 80px;
	height: 32px;
	color: black;
	background-color: #FAFAFA;
	border: 0px solid gray;
	border-radius: 10px;
}

.campaign_request {
	width: 1120px;

	background-color: #FAFAFA;
	border: 0px solid gray;
	border-radius: 10px;
	padding: 10px 10px 10px 10px;
	text-align: left;
	word-break: normal;
}

.content {
	width: 1120px;
	height: 60px;
	margin: auto;
	background-color: #FAFAFA;
	border: 0px solid gray;
	border-radius: 10px;
	line-height: 30px;
	padding: 0px 0px 0px 20px;
	font-size: 15px;
}

.con_middle {
	padding: 0px 0px 0px 40px;
	word-break: normal;
	font-size: 15px;
}

.chanimg {
	width: 1150px;
	height: 50px;
	padding: 0px 0px 0px 40px;
	display: inline-block;
}

.channel {
	width: 23px;
	height: 23px;
	position: relative;
	top: 5px;
}

.channel_font {
	font-size: 15px;
	line-height: 30px;
	text-align: center;
}

.channel_outline {
	background-color: #FAFAFA;
	border: 0px solid gray;
	border-radius: 10px;
	display: inline-block;
	width: 120px;
	height: 35px;
	text-align: center;
}

.container {
	text-align: center;
	overflow: hidden;
	position: relative;
}

.bookmark {
	padding: 15px 10px 0px 10px;
	width: 80px;
	height: 70px;
/* 	float: left;
	margin-left: 100px; */
	top: 100%;
	left: 50%;
	transform: translate(-20%, -10%)
}

.basic_login {
	width: 350px;
	height: 50px;
	font-size: 25px;
	color: white;
	background-color: blue;
	border-radius: 10px;
	text-align: center;
}

.basic_btn {
	width: 280px;
	height: 55px;
	font-size: 25px;
	color: white;
	background-color: blue;
	border-radius: 10px;
	text-align: center;
	/* position: absolute; */
	transform: translate(-5%, -43%);

}
.basic_btn1 {
	width: 280px;
	height: 55px;
	font-size: 25px;
	color: white;
	background-color: blue;
	border-radius: 10px;
	text-align: center;


}
/* 토글 css 테스트 */
.toggle_wrap {
	display:flex; 
	align-items:center; 
	/* justify-content: center; */
	margin-left: 270px;
	padding : 10px;
}

.toggleContent {
   position: relative;
   display: grid;
   grid-template-columns: repeat(2, 90px);
   width: fit-content;
   border: 3px solid #343434;
   border-radius: 20px;
   background: #343434;
   font-weight: bold;
   color: #343434;
   cursor: pointer;
 }
.toggleContent::before {
   content: '';
   position: absolute;
   width: 50%;
   height: 100%;
   left: 0%;
   border-radius:20px;
   background: white;
   transition: all 0.3s;
 }
 .toggleCheckbox:checked + .toggleContent::before {
    left: 50%;
 }
 .toggleContent div {
   padding: 6px;
   text-align: center;
   z-index: 1;
   font-size: 15px;
 }
 .toggleCheckbox {
   display: none;
 }
 
 .toggleCheckbox:checked + .ing{
   color: white;
   transition: color 0.3s;
 }
 
 .toggleCheckbox:checked + .complete{
   color: #343434;
   transition: color 0.3s;
 }
 .toggleCheckbox + .ing{
   color: #343434;
   transition: color 0.3s;
 }
 .toggleCheckbox + .complete{
   color: white;
   transition: color 0.3s;
 }
