.productimg {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 10px;
	border: 1px solid white;
	margin: auto;
	padding: 30px;
	width: 1200px;
	height: 350px;
	border-radius: 10px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 64px 0px;
}

.campaignaddress {
	width: 1200px;
	height: 50px;
	border: 0px;
	margin: auto;
	padding: 28px 28px 0 28px;
	font-size: 15px;
}

.middletext {
	width: 1200px;
	height: 50px;
	border: 0px;
	margin: auto;
	font-size: 25px;
	line-height: center;
	padding: 10px;
}

.inp_date {
	width: 1200px;
	height: 70px;
	margin: auto;
	border: 1px solid white;
	border-radius: 10px;
	background-color: white;
	line-height: 35px;
	padding: 0px 0px 0px 40px;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 64px 0px;
	font-size: 15px;
}

.basic_info2 {
	width: 1200px;
	margin-bottom: 80px;
	padding-bottom: 20px;
	border: 1px solid white;
	border-radius: 10px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 64px 0px;
}

.channel_style {
	width: 1120px;
	height: 40px;
	margin: auto;
	border: 1px solid gray;
	border-radius: 10px;
	background-color: white;
	line-height: 40px;
	padding: 0px 0px 0px 40px;
	font-size: 15px;
}

.prodbut {
	font-size: 15px;
	width: 80px;
	height: 32px;
	color: gray;
	background-color: white;
	border: 1px solid gray;
	border-radius: 10px;
}

.Introduction {
	width: 1120px;
	height: 400px;
	background-color: #FAFAFA;
	border: 0px solid gray;
	border-radius: 20px;
	padding: 10px 10px 0px 10px;
	text-align: left;
	word-break: normal;
}

.content {
	width: 1120px;
	height: 60px;
	margin: auto;
	background-color: #FAFAFA;
	border: 0px solid gray;
	border-radius: 10px;
	line-height: 30px;
	padding: 0px 0px 0px 20px;
	font-size: 15px;
}

.con_middle {
	padding: 0px 0px 0px 40px;
	word-break: normal;
	font-size: 15px;
}

.basic_info {
	font-size: 25px;
	margin-left: 90px;
	font-size: 25px;
	text-align: left;
	padding: 10px;
}

.chanimg {
	margin-left: 60px;
	width: 1150px;
	height: 50px;
	padding: 0px 0px 0px 40px;
	display: inline-block;
}

.channel {
	width: 23px;
	height: 23px;
	position: relative;
	top: 4px;
}

.channel_font {
	font-size: 15px;
	line-height: 30px;
	text-align: center;
}

.channel_outline {
	border: 1px solid gray;
	border-radius: 10px;
	display: inline-block;
	width: 120px;
	height: 35px;
	text-align: center;
}

.container {
	width: 800px;
	height: 800px;
	overflow: hidden;
	position: relative;
}

.bookmark {
	padding: 15px 10px 0px 10px;
	width: 80px;
	height: 70px;
	float: left;
	margin-left: 100px;
	top: 100%;
	left: 50%;
	transform: translate(-20%, -20%)
}

.basic_login {
	width: 320px;
	height: 50px;
	font-size: 25px;
	color: white;
	background-color: blue;
	border-radius: 10px;
	text-align: center;
}

.basic_btn {
	width: 320px;
	height: 50px;
	font-size: 25px;
	color: white;
	background-color: blue;
	border-radius: 10px;
	text-align: center;
	position: absolute;
	top: 2px;
	left: 220px;
}

.container {
	width: 1200px;
}
.imgtext {
	display: flex;
	flex-direction: column;
}

 /* 제안하기 모달창 */
.modalBtn {
	display: block;
	margin: 40px auto;
	padding: 10px 20px;
	background-color: royalblue;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}
.modal {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: rgba(0,0,0,0.5);
}
.modal .modalPopup {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	border-radius: 10px;
	background: #ffffff;
}
.modal .modalPopup .closeBtn {
	display: block;
	padding: 10px 20px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: box-shadow 0.2s;
}