<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<typeAliases>
		<typeAlias type="dto.Point" alias="point"/>
		<typeAlias type="dto.PointRecord" alias="pointRecord"/>
		<typeAlias type="dto.ReceiveCampaign" alias="receiveCampaign"/>
	</typeAliases>

	<environments default="development">	
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="org.mariadb.jdbc.Driver"/>
				<property name="url" value="jdbc:mariadb://localhost:3306/mini"/>
				<property name="username" value="root"/>
				<property name="password" value="7564"/>
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="mapper/influencer.xml"/>
		<mapper resource="mapper/advertiser.xml"/>
		<mapper resource="mapper/campaign.xml"/>
		<mapper resource="mapper/point.xml"/>
		<mapper resource="mapper/receive_campaign.xml"/>
		<mapper resource="mapper/request_campaign.xml"/>
		<mapper resource="mapper/point_record.xml"/>
		<mapper resource="mapper/bookmark_advertiser.xml"/>
		<mapper resource="mapper/bookmark_influencer.xml"/>
		<mapper resource="mapper/category.xml"/>
	</mappers>
</configuration>