<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<typeAliases>
		<typeAlias type="dto.Advertiser" alias="advertiser"/>
		<typeAlias type="dto.BookmarkInfluencer" alias="bookmarkInfluencer"/>
		<typeAlias type="dto.BookmarkCampaign" alias="bookmarkCampaign"/>
		<typeAlias type="dto.Campaign" alias="campaign"/>
		<typeAlias type="dto.Influencer" alias="influencer"/>
		<typeAlias type="dto.Point" alias="point"/>
		<typeAlias type="dto.PointRecord" alias="pointRecord"/>
		<typeAlias type="dto.ReceiveCampaign" alias="receiveCampaign"/>
		<typeAlias type="dto.RequestCampaign" alias="requestCampaign"/>
		<typeAlias type="dto.Category" alias="category"/>
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="org.mariadb.jdbc.Driver"/>
				<property name="url" value="jdbc:mariadb://localhost:3306/mini"/>
				<property name="username" value="root"/>
				<property name="password" value="7564"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="mapper/influencer.xml"/>
		<mapper resource="mapper/advertiser.xml"/>
		<mapper resource="mapper/campaign.xml"/>
		<mapper resource="mapper/point.xml"/>
		<mapper resource="mapper/advertiser.xml"/>
		<mapper resource="mapper/bookmarkCampaign.xml"/>
		<mapper resource="mapper/bookmarkInfluencer.xml"/>
		<mapper resource="mapper/category.xml"/>
		<mapper resource="mapper/influencer.xml"/>
		<mapper resource="mapper/pointRecord.xml"/>
		<mapper resource="mapper/receiveCampaign.xml"/>
		<mapper resource="mapper/requestCampaign.xml"/>
		<mapper resource="mapper/campaign.xml"/>
	</mappers>
</configuration>